<div mat-dialog-title style="display: flex; justify-content: space-between">
  <h6 class="userInfo">
    {{
      defaults == null
        ? ("Create New Print Option" | translate)
        : ("Edit Print Option Information" | translate)
    }}
  </h6>
  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div [dir]="SharedService.dir() == 'en' ? 'ltr' : 'rtl'">
    <div class="row user-containt">
      <div class="col-lg-12 position-relative user-create bg-white">
        <div class="container bg-white">
          <h6 class="userInfo" style="text-align: start">
            {{ "Print Options Information" | translate }}
          </h6>
          <form [formGroup]="Form">
            <div class="row">
              <div class="col-lg-6">
                <!-- <div style="display: flex; justify-content: center">
                  <img
                    *ngIf="imgURL !== ''"
                    height="200"
                    width="200"
                    [src]="displayBase64 (defaults.backgroundPic)"
                    style="border-radius: 50%"
                  />
                </div> -->

                <div class="image-upload">
                  <label for="file-input">
                    <img src="assets/img/demo/Frame.png" />
                    <p *ngIf="imgName !== '' || imgName !== undefined">
                      {{ imgName }}
                    </p>
                    <p *ngIf="imgName == '' || imgName == undefined">
                      {{ "Add BackGround" | translate }} *
                    </p>
                  </label>

                  <input
                    id="file-input"
                    type="file"
                    #file
                    (change)="preview(file.files)"
                    accept="image/*"
                  />
                </div>
                <div class="form-group" style="margin-block: 15px">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>{{ "Font Family" | translate }} </mat-label>
                    <mat-select disableRipple formControlName="fontFamily" [(ngModel)]="FontFamily">
                      <mat-option value="ApercuProRegular"
                      (onSelectionChange)="onSelectFontFamily()"
                        >Apercu Pro Regular</mat-option
                      >
                      <mat-option value="ApercuProBold"
                        >Apercu Pro Bold</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="form-group" style="margin-block: 15px">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>{{ "Card Face" | translate }} *</mat-label>
                    <mat-select
                      disableRipple
                      formControlName="IsBack"
                      [(ngModel)]="IsBack"
                    >
                      <mat-option value="false">{{
                        "Front" | translate
                      }}</mat-option>
                      <mat-option value="true">{{
                        "Back" | translate
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div
                    *ngIf="
                      Form.get('IsBack')?.touched && Form.get('IsBack')?.errors
                    "
                  >
                    <div>
                      <mat-error *ngIf="Form.get('IsBack')?.errors['required']">
                        {{ "this field is required" | translate }}
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="form-group" style="margin-block: 15px">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>{{ "Font Style" | translate }} *</mat-label>
                    <mat-select
                      disableRipple
                      formControlName="FontStyle"
                      [(ngModel)]="FontStyle"
                    >
                      <mat-option value="normal">normal</mat-option>
                      <mat-option value="italic">italic</mat-option>
                      <mat-option value="oblique">oblique</mat-option>
                      <mat-option value="oblique 10deg"
                        >oblique 10deg</mat-option
                      >
                      <mat-option value="inherit">inherit</mat-option>
                      <mat-option value="initial">initial</mat-option>
                      <mat-option value="revert">revert</mat-option>
                      <mat-option value="revert-layer">revert-layer</mat-option>
                      <mat-option value="unset">unset</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div
                    *ngIf="
                      Form.get('FontStyle')?.touched &&
                      Form.get('FontStyle')?.errors
                    "
                  >
                    <div>
                      <mat-error
                        *ngIf="Form.get('FontStyle')?.errors['required']"
                      >
                        {{ "this field is required" | translate }}
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label-key mt-2">{{
                    "Font Size" | translate
                  }}</label>
                  <input
                    type="number"
                    class="form-control input-value"
                    name="FontSize"
                    formControlName="FontSize"
                    [(ngModel)]="FontSize"
                  />
                </div>
                <div class="form-group">
                  <label class="label-key mt-2"
                    >{{ "Font Color" | translate }} *</label
                  >
                  <input
                    type="color"
                    class="form-control input-value"
                    name="FontColor"
                    formControlName="FontColor"
                    [(ngModel)]="FontColor"
                  />

                  <div
                    *ngIf="
                      Form.get('FontColor')?.touched &&
                      Form.get('FontColor')?.errors
                    "
                  >
                    <div>
                      <mat-error
                        *ngIf="Form.get('FontStyle')?.errors['required']"
                      >
                        {{ "this field is required" | translate }}
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label-key mt-2"
                    >{{ "Card Width In CM" | translate }}*</label
                  >
                  <input
                    type="number"
                    class="form-control input-value"
                    name="CardWidth"
                    formControlName="CardWidth"
                    [(ngModel)]="CardWidth"
                  />

                  <div
                    *ngIf="
                      Form.get('CardWidth')?.touched &&
                      Form.get('CardWidth')?.errors
                    "
                  >
                    <div>
                      <mat-error
                        *ngIf="Form.get('CardWidth')?.errors['required']"
                      >
                        {{ "this field is required" | translate }}
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label-key mt-2"
                    >{{ "Card Height In CM" | translate }} *</label
                  >
                  <input
                    type="number"
                    class="form-control input-value"
                    name="CardHight"
                    formControlName="CardHight"
                    [(ngModel)]="CardHeight"
                  />

                  <div
                    *ngIf="
                      Form.get('CardHight')?.touched &&
                      Form.get('CardHight')?.errors
                    "
                  >
                    <div>
                      <mat-error
                        *ngIf="Form.get('CardHight')?.errors['required']"
                      >
                        {{ "this field is required" | translate }}
                      </mat-error>
                    </div>
                  </div>
                </div>
                <!--<div class="form-group" style="margin-block: 15px">
                  <mat-form-field MatFormFieldControl appearance="fill" style="width: 100%">
                    <mat-label>{{ "Card Active" | translate }} *</mat-label>
                    <mat-checkbox  
                      formControlName="isActive"
                      [(ngModel)]="IsActive" >
                    </mat-checkbox>
                  </mat-form-field>
                </div>-->
              </div>
              <div class="col-lg-6">
                <div style="display: flex; justify-content: center">
                  <div
                    class="card"
                    [ngStyle]="{ 'background-image': 'url( ;' + imgURL + ')' }"
                    [style.width.cm]="CardWidth + 0.5"
                    [style.height.cm]="CardHeight + 0.7"
                    style="background-size: cover; border-radius: 16px"
                  >
                    <img
                      *ngIf="this.defaults !== null"
                      [src]="displayBase64(defaults.backgroundPic)"
                      alt=""
                    />

                    <p
                      [style.font-style]="FontStyle"
                      [style.font-size.px]="FontSize"
                      [style.color]="FontColor"
                      [class]="FontFamily == 'ApercuProRegular' ? 'ApercuProRegular' : 'ApercuProBold'"

                    >
                      {{ "test paragraph" | translate }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="main-stepper-btn">
    <!-- [disabled]="Form.invalid" -->
    <button
      class="btn-gred"
      (click)="submit()"
      mat-raised-button
      color="primary"
    >
      {{ "Save" | translate }}
    </button>
  </div>
</mat-dialog-actions>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="default"
  color="#fff"
  type="ball-spin-clockwise"
  [fullScreen]="true"
>
  <p style="color: white">{{ "Please Wait." | translate }}</p>
</ngx-spinner>
