body{
    padding: 0;
    margin: 0;
}
.card-background{
    position: absolute; z-index: 1; height: 100%; width: 100%
}

/* .card-user-img{
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    top: 16%;
    right: 24%;
    width: 117px;
    height: 117px;
} */
.card-info{
    z-index: 3;
    text-align: center;
    position: relative;
    padding-top: 92%;
}
 p{
    margin-bottom: 0!important;
    margin-top: 0!important;

}


/* .custom-card{
    width: 6.5cm;
    height: 9.9cm;
} */