<div
  dir="{{ dir() == 'en' ? 'ltr' : 'rtl' }}"
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding-top: 5%;
    background-repeat: no-repeat;
    background-image: url('assets/img/demo/dark-bg.jpg');
    width: 100%;
    background-position: top;
    background-size: cover;
    height: 100%;
  "
  class="contentsection"
>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
      <form
        [formGroup]="form"
        name="form"
        class="form-login mb-5 p-5"
        role="form"
        style="
          background-color: white;
          border-radius: 17px;
          margin-bottom: 60px;
        "
      >
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="Sign-In mb-4">
              {{ "Register" | translate }}
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <mat-form-field
              style="width: 100%"
              appearance="outline"
              fxFlex="auto"
            >
              <mat-label>{{ "Email or Phone Number" | translate }}*</mat-label>
              <input cdkFocusInitial formControlName="email" matInput />
              <mat-error
                *ngIf="
                  form.get('email').hasError('required') &&
                  form.get('email').touched
                "
                >{{ "Enter Vaild Email or Phone Number" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <mat-form-field
              appearance="outline"
              fxFlex="auto"
              [color]="form.valid ? 'red' : 'red'"
            >
              <mat-label>{{ "Username" | translate }}*</mat-label>
              <input
                cdkFocusInitial
                formControlName="username"
                type="text"
                placeholder="{{ 'username' | translate }}"
                matInput
                class="p-relative"
              />
              <mat-error
                *ngIf="
                  form.get('username').hasError('username') &&
                  form.get('username').touched
                "
                >{{ "Username Is Required" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <mat-form-field
              appearance="outline"
              fxFlex="auto"
              [color]="form.valid ? 'red' : 'red'"
            >
              <mat-label>{{ "Password" | translate }}*</mat-label>
              <input
                cdkFocusInitial
                formControlName="password"
                type="password"
                [type]="!visible ? 'password' : 'text'"
                placeholder="{{ 'Password' | translate }}"
                matInput
                class="p-relative"
              />
              <mat-icon
                (click)="visible = !visible"
                style="cursor: pointer; background-size: cover; position: absolute; left: 1%"
              >
                {{ visible ? "visibility_off" : "visibility" }}
              </mat-icon>

              <mat-error
                *ngIf="
                  form.get('password').hasError('required') &&
                  form.get('password').touched
                "
                >{{ "Password Is Required" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <mat-form-field
              appearance="outline"
              fxFlex="auto"
              [color]="form.valid ? 'red' : 'red'"
            >
              <mat-label>{{ "confirmPassword" | translate }}*</mat-label>
              <input
                cdkFocusInitial
                formControlName="confirmPassword"
                type="password"
                [type]="!visible ? 'password' : 'text'"
                placeholder="{{ 'Confirm Password' | translate }}"
                matInput
                class="p-relative"
              />
              <mat-icon
                (click)="visible = !visible"
                style="cursor: pointer; background-size: cover; position: absolute; left: 1%"
              >
                {{ visible ? "visibility_off" : "visibility" }}
              </mat-icon>

              <mat-error
                *ngIf="
                  form.get('confirmPassword').hasError('required') &&
                  form.get('confirmPassword').touched
                "
                >{{ "Confirm Password Is Required" | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <button
            type="submit"
            (click)="RegisterNewUser()"
            style="border: solid 2px #3d3f54; background-color: #3d3f54"
            class="btn-lg btn-block"
            [disabled]="form.invalid"
          >
            {{ "Register" | translate }}
          </button>
          <button
            type="submit"
            (click)="login()"
            style="border: solid 2px #5c5e77; background-color: #6f7294"
            class="btn-lg btn-block"
          >
            {{ "Login" | translate }}
          </button>
          <!-- </div> -->
        </div>

        <br />
      </form>
    </div>
  </div>
</div>
